#login{
	
.custom{
	 background-color: #20283e;
	   background-position: center;
  background-repeat: no-repeat;
}

.customColor{
	background-color: #36c18d;
	background:#36c18d;
	color:white !important;
}


}

