<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
    <div class="row">
        <div class="col-6">
            <div class="content-header">Articles</div>
        </div>
<!--         <div class="col-6">
             <div class="content-header" style="float: right;">
                                            <button  (click)="addNew(modal2)" type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-plus"></i> Add A New Services
                                </button>
                            </div>

        </div> -->
    </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
            />
            <ngx-datatable  #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows' [selected]="selected" [selectionType]="'cell'" (select)="onSelect($event, modal)" >
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->

<ng-template #modal let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Workshop Creator Info</h4>
                </div>
                <div class="card-body">
                                            <form class="form">

                    <div class="px-3">                      

                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> {{selected['0'].name}}'s Info</h4>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Name:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].name}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Sur Name:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].sur_name}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>  

                            <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Email Address:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].email}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Date of Birth:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].date_of_birth}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div> 
                            <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Bio:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].middle_name}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">City:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].city_id}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>              
                            <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Area:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].area}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">University:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].university}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>                  

                                                            <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Speciality:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].speciality}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Gradiuation:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].gradiuation}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>                     


                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Speciality:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].speciality}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">User Rating:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].rating_user}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>                                                                                                                                                                            
                            
                                </div>



                                    <div class="px-3">                      

                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> {{selected['0'].name}}'s Article Info</h4>
                                <div class="row">
                                    <div class="col-md-12">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Article Title:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].title}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Article Body:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].body}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>  

                            <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Number Of Likes:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].likes}}</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Number of Dislikes:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].dislikes}}</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div> 
                                  


                                <div class="row">
                                    <div class="col-md-12">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Rating:</label>
                                            <p class="form-control-static" id="staticInput">{{selected['0'].rating}}</p>
                                        </fieldset>
                            
                                    </div>
                                  
                                </div>                                                                                                                                                                            
                            
                                </div>

</div>
                            </div>

                            <div class="form-actions right">
                                <button (click)="c('Close click')"  type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button  (click)="close(selected['0']._id, selectedOption )" type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
</div>
                    </div>
            </div>
</ng-template>


<ng-template #modal2 let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Add a new Service</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">                      

                        <form class="form" [formGroup]="addServiceForm">
                            <div class="form-body">

                                <h4 class="form-section"><i class="ft-mail"></i> Service Info</h4>

                                <div class="form-group">
                                    <label for="userinput5">Service Name</label>
                                    <input class="form-control border-primary" type="text"  id="userinput5" formControlName="name" >
                                </div>                              

                                <div class="form-group">
                                    <label for="userinput5">Service Type</label>
                                    <input class="form-control border-primary" type="email"  id="userinput5" formControlName="type" >
                                </div>
                                
                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Status</label>
                                            <select formControlName="status" class="form-control" id="basicSelect">
                                              <option>Update Order Status</option>
                                              <option value="active" >Active</option>
                                              <option value="inactive">In-Active</option>
                                            </select>
                                        </fieldset>   
                                </div>
    


                            </div>

                            <div class="form-actions right">
                                <button (click)="c('Close click')" type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button  (click)="addService(addServiceForm)" type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</ng-template>



<ng-template #modal5 let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Users that Reserved</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">                      

                            <div class="form-body">

                                <h4 class="form-section"><i class="ft-mail"></i> Users List</h4>

                                <div class="form-group" *ngFor="let attendee of ReservedUsers['data']">
                                    <label for="userinput5">{{attendee.name}} {{attendee.sur_name}}</label>
                                </div>                              



                            </div>

                            <div class="form-actions right">
                                <button (click)="c('Close click')" type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button  (click)="addService(addServiceForm)" type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>

                            </div>

                    </div>
                </div>
            </div>
        </div>
</ng-template>

